.header-style {
  background-color: #2E323D;
  color: white;
  font-weight: bold;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.cell-style {
  height: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.add-style {
  background-color: #2E323D;
  color: white;
  width: 10rem;
  height: 3rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}